<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Wall Street Stock Price Lookup</title>
</head>
<body>
  <h1>The Blade of Wall Street</h1>
  <!-- before yield -->
  <%= yield %>
  <!-- after yield -->
</body>
</html>
