<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/css/calculator.css">
</head>
<body>
  <nav>
    <a href="/">Home</a>
  </nav>
  <h1>Super Excellent Web Calculator</h1>

  <%= yield %><!-- content goes here -->

</body>
</html>
